/* Primary */
:root {
  --primary-dark-cyan: hsl(185, 75%, 39%);
  --primary-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --primary-dark-grayish-blue: rgba(106, 111, 129, 0.7);
}

/* Neutral */
:root {
  --neutral-dark-gray: hsl(0, 0%, 59%);
  ----neutral-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  background-image: url(/images/bg-pattern-top.svg),
    url(/images/bg-pattern-bottom.svg);
  background-position: -5%, top -40% right -12%;
  background-repeat: no-repeat;
  background-size: 50%, 50%;
  background-color: var(--primary-dark-cyan);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(----neutral-white);
  max-width: 350px;
  height: 53vh;
  border-radius: 8px;
  overflow: hidden;
}

.profile-pic {
  display: flex;
  justify-content: center;
}

.profile-pic img {
  border-radius: 50%;
  transform: translateY(-50%);
}

.main-text {
  font-size: 1.125rem;
  color: var(--primary-very-dark-desaturated-blue);
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-30%);
}

h1 {
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  padding-bottom: 8px;
}

em {
  font-style: normal;
  padding: 0 5px;
  font-weight: 400;
}

.details span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
  padding-bottom: 28px;
}

.fade {
  color: var(--primary-dark-grayish-blue);
  font-weight: 400;
}

.location {
  display: block;
  font-size: 0.8rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0 14px;
  font-size: 0.8rem;
}

ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul li span {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 3px 0;
  font-size: inherit;
}
